{% extends '::frontend.html.twig' %}

{% block title %}Menu{% endblock %}

{% block body %}
<div class="ibox-content">
<div class="row">
 <h1>Agregar Menú</h1><br />
    <ol class="breadcrumb">
        <li><a href="{{asset('admin/listamenu')}}">Lista Menús</a></li>
        <li class="active">Agregar Menú</li>
    </ol><hr /><br />
    </div>
     
     {% for flashMessage in app.session.flashbag.get('mensaje') %}
    <span>
        <h2 class="alert alert-info">{{ flashMessage }}</h2>
        <br /><br />
    </span>
    {% endfor %}

    <div class="row">
    {{ form_start(form) }}
    
        <p>
        Nombre : {{form_widget(form.nombre)}}
        </p>
        
        <p>
            {{form_widget(form.Guardar)}}
        </p>
        
     {{ form_end(form) }}
 </div>
</div>
{% endblock %}