{% extends '::frontend.html.twig' %}

{% block title %}Url{% endblock %}

{% block body %}

<div class="ibox-content">
<div class="row">
 <h1>Editar Url</h1><br />
    <ol class="breadcrumb">
        <li><a href="{{asset('admin/listaurl')}}">Lista Url</a></li>
        <li class="active">Editar url</li>
    </ol><hr /><br />
    </div>


   <div class="row">
    {{ form_start(form) }}
        
        <p>
        Submenu : {{form_widget(form.submenu)}}
        </p>
        <p>
        Nombre : {{form_widget(form.nombre)}}
        </p>
        <p>
        Url : {{form_widget(form.url)}}
        </p>
        <p>
        WD FIM : {{form_widget(form.producto1)}}
       &nbsp;&nbsp;
        WD Firewall : {{form_widget(form.producto2)}}
       &nbsp;&nbsp;
        WD Internet : {{form_widget(form.producto3)}}
        </p>

         
        
        <p>
            {{form_widget(form.Guardar)}}
        </p>
        
     {{ form_end(form) }}
 </div>
</div>

{% endblock %}
